[Desktop Entry]
Type=Service
Actions=SplitToFiles
MimeType=application/x-cue;

[Desktop Action SplitToFiles]
Name=Split & Encode...
Icon=media-optical-audio
Exec=@SCRIPT@ %f
